.sponsor-logo {
  width: 15em;
  border-radius: 2em;
  border: 1px solid white;
}
/* @media only screen and (min-width: 56.25em) {
  .sponsor-logo {
    width: 15em;
  }
} */

@media only screen and (max-width: 56.25em) {
  .sponsor-logo {
    width: 12em;
  }
}

@media only screen and (max-width: 37.5em) {
  .sponsor-logo {
    width: 8em;
  }
  .schedule {
    font-size: .6em;
  }
}

@media only screen and (max-width: 22.5em) {
  .sponsor-logo {
    width: 6.5em;
  }
  .schedule {
    font-size: .5em;
  }
}

/* @media only screen and (max-width:) {
  .term {
      font-size: 0.8rem;
  }
} */

.schedule {
  border: 1px solid #1D75FC;
  border-radius: 2em;
  background-color: rgb(31, 31, 31);
}


.table-heading {
  background-color: #1D75FC;
  font-size: 2em;
}

.table-row {
  font-size: 2em;
  color: white;
  background-color: rgb(31, 31, 31);
}

.table-heading th {
  padding: 1em;
}

.table-row td {
  padding: 1em;
  border-bottom: 1px solid #1D75FC;
}

/* .table-row td:first-child {
  color: #1D75FC;
} */

.table-row:last-child td {
  border-bottom: none;
}