.heading-main {
  text-align: center;
  padding: 5rem;
  margin: 2rem 0; }
  .heading-main__text {
    display: inline-block;
    padding: 0.5rem;
    font-size: 4.3rem;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, #303f9f, #1D75FC);
    -webkit-background-clip: text;
    text-transform: uppercase; }

.internal-heading__modifier {
  font-size: 3rem;
  color: #505050;
  font-weight: 600;
  border-bottom: 4px solid #4286f4;
  display: inline-block;
  margin-bottom: 4.5rem;
  text-transform: uppercase; }

.para-box__border {
  border-left: 3px solid #4286f4;
  font-family: 'Muli', sans-serif; }

.para-box__modifier {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 1px;
  padding-left: 1rem;
  text-align: justify; }

.footer-text-main {
  font-size: 1.7rem;
  color: #eee;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important; }
  .footer-text-main:hover {
    color: #eee; }

.footer-text-sub {
  font-size: 1.5rem;
  color: #eee;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.50%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 2rem;
  background-color: #fff;
  font-family: 'Poppins', sans-serif; }

.navbar,
.navbar-reg {
  transition: all .6s;
  backface-visibility: hidden;
  margin: 0 2rem !important;
  background-color: #eee !important; }

.navbar-reg {
  margin: 0rem !important; }

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #777777 !important; }
  .navbar-brand:hover {
    color: #1D75FC !important; }
  .navbar-brand:active {
    color: #1D75FC !important; }
  .navbar-brand:focus {
    color: #1D75FC !important; }
  .navbar-brand__back-icon {
    height: 4.5rem;
    width: auto;
    transition: all .3s; }
    .navbar-brand__back-icon:hover {
      transform: translateX(-5px); }

.navbar-heading {
  font-size: 3rem;
  color: transparent;
  background-image: linear-gradient(to right, #303f9f, #1D75FC);
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3rem 0; }

.navbar-brand-img {
  width: 8rem; }

.navbar-nav {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase; }

.nav-link {
  margin-right: 1rem;
  transition: all .3s; }
  .nav-link:hover {
    color: #1D75FC !important;
    border-bottom: 1px solid #4286f4; }
  .nav-link:active {
    color: #1D75FC !important; }
  .nav-link:focus {
    color: #1D75FC !important; }
  .nav-link:visited {
    color: #1D75FC !important; }

.active {
  color: #1D75FC !important; }

.Intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 80vh;
  margin-top: 8rem; }
  .Intro__heading-main {
    width: 100%;
    height: 40vh; }
    .Intro__heading-main__box {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      height: 40vh; }
      .Intro__heading-main__box-content {
        font-family: 'Graduate', cursive;
        font-size: 7rem;
        color: #303f9f;
        text-align: center; }
  .Intro__image-box__img {
    width: 50vw;
    margin: 1rem; }

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .about-content__box1__video__modifier {
    box-shadow: 0.7rem 0.6rem 3.2rem -0.5rem rgba(0, 0, 0, 0.48);
    border-radius: 0.5rem; }

.contact-content {
  background-color: #373b44;
  height: 40vh; }
  .contact-content__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh; }
    .contact-content__box__address {
      flex-basis: 53rem; }
    .contact-content__box__icon--modifier {
      height: 7rem;
      width: auto; }
    .contact-content__box__logo {
      display: flex;
      justify-content: center; }
      .contact-content__box__logo--modifier {
        height: 8rem;
        width: auto; }
    .contact-content__box__social-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center; }
    .contact-content__box__phone {
      margin-top: 1.5rem; }

.footer-icon {
  height: 2.5rem;
  margin-bottom: 8px;
  margin-right: 5px; }

.Registration {
  height: 80vh; }

.reg-abs-main {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center; }
  .reg-abs-main__box1 {
    display: flex;
    flex-direction: column; }
  .reg-abs-main__reg-box, .reg-abs-main__abs-box {
    width: 50vw;
    border: none; }
    .reg-abs-main__reg-box--heading, .reg-abs-main__abs-box--heading {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;
      color: #303f9f !important;
      font-family: 'Poppins', sans-serif; }
    .reg-abs-main__reg-box--list-collection, .reg-abs-main__abs-box--list-collection {
      padding: 1rem; }
    .reg-abs-main__reg-box--list, .reg-abs-main__abs-box--list {
      list-style: circle;
      font-size: 1.7rem;
      line-height: 3rem;
      font-weight: 500;
      color: #333; }
    .reg-abs-main__reg-box--sentence, .reg-abs-main__abs-box--sentence {
      font-size: 1.7rem;
      font-weight: 500;
      color: #333; }
    .reg-abs-main__reg-box--btn1, .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn1, .reg-abs-main__abs-box--btn2 {
      font-size: 1.5rem;
      width: 20rem;
      height: 4rem;
      margin-bottom: 5rem;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: .3rem; }
    .reg-abs-main__reg-box--btn2, .reg-abs-main__abs-box--btn2 {
      margin-bottom: 0rem;
      margin-top: 2rem; }
  .reg-abs-main__box2__img {
    width: 95vw; }
    .reg-abs-main__box2__img--modifier {
      height: 70rem; }

.innovation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .innovation-content__procedure {
    margin: 0 3rem; }
  .innovation-content__img {
    margin: 2rem;
    width: 45vw !important;
    border-radius: 0.5rem !important; }
  .innovation-content__btn {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.5rem;
    text-transform: uppercase; }

.past-memories-img {
  padding: 0 32rem;
  border-radius: 0.5rem !important; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 60%, 60%;
  border-radius: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.3); }

.carousel-indicators .active {
  background-color: #1D75FC; }

.card-content {
  border: 3px solid #4286f4;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2.7rem -0.6rem rgba(0, 0, 0, 0.48); }
  .card-content__title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #1D75FC; }
  .card-content__text {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif; }

.stats .circle {
  width: 150px;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%; }

.stats .circle-text, .stats-text {
  text-align: center;
  font-size: 2rem;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  color: #303f9f;
  text-transform: uppercase;
  margin-top: 2rem; }

.stats .value::after {
  content: "+"; }
