$color-dark-grey-1: #999;
$color-dark-grey-3:#e0e0e0;

$color-light-grey-opacity: #eae9e9c5;
$color-dark-grey-3-opacity:#e0e0e0c5;

$color-white-1-opacity: rgba(255, 255, 255, 0.616);
$color-white-2-opacity: rgba(238, 238, 238, 0.616);



$color-black: #000;
$color-text: #777777;
$color-white-1: #fff;
$color-white-2: #eee;
$color-light-grey: #eae9e9;
$color-dark-grey-2: #333;
$color-dark-grey-4: rgb(80, 80, 80);

$color-blue-dark-1:#30336b;
$color-blue-dark-2: #373b44;
$color-blue-light:#4286f4;
$color-blue-text-1:#1D75FC;
$color-blue-text-2:#303f9f;

/*
Cyan:#00acc1
Cyan-1:#80deea

primary:#4286f4
primary-1:#1d75fc
Secondary:#303f9f
Secondary-1:#30336b
Secondary-dark:#373b44

White:#fff
White-1:#eeee
White-2:#eae9e9
Gray:#777777
gray-1:rgb(80,80,80)
Gray-2:#333
Black:#0000
*/

// Font: Roboto

// Text Color: #E4E4E4

// Shades of black:
// 1.	 Full black (Background of Technical events, magazines, teachers, team members texts): #000000 
// 2.	 Dark (Background of website): #111111
// 3.	 Medium (Background of Registration Text): #272727
// 4.	 Light (Background of website): #191919 

// Blue Color: #1D75FC


