$color-dark-grey-1: #999;
$color-dark-grey-3:#e0e0e0;

$color-light-grey-opacity: #eae9e9c5;
$color-dark-grey-3-opacity:#e0e0e0c5;

$color-white-1-opacity: rgba(255, 255, 255, 0.616);
$color-white-2-opacity: rgba(238, 238, 238, 0.616);



$color-black: #000;
$color-text: #777777;
$color-white-1: #fff;
$color-white-2: #eee;
$color-light-grey: #eae9e9;
$color-dark-grey-2: #333;
$color-dark-grey-4: rgb(80, 80, 80);

$color-blue-dark-1:#30336b;
$color-blue-dark-2: #373b44;
$color-blue-light:#4286f4;
$color-blue-text-1:#1D75FC;
$color-blue-text-2:#303f9f;


$cyan:#00acc1;
$cyan-1:#80deea;

$primary:#4286f4;
$primary-1:#1d75fc;
$secondary:#303f9f;
$secondary-1:#30336b;
$secondary-dark:#373b44;

$white:#fff;
$white-1:#eeee;
$white-2:#eae9e9;
$gray:#777777;
$gray-1:rgb(80,80,80);
$gray-2:#333;
$black:#000;
$black-1:rgb(31, 31, 31);
