// COLOR-VARIABLES

$cyan:#00acc1;
$cyan-1:#80deea;

$neon-green:#39ff14;

$primary:#4286f4;
$primary-1:#1d75fc;
$secondary:#303f9f;
$secondary-1:#30336b;
$secondary-dark:#373b44;

$white:#fff;
$white-1:#eee;
$white-2:#eae9e9;
$gray:#777777;
$gray-1:rgb(80,80,80);
$gray-2:#333;
$black:#000;
$black-1:rgb(31, 31, 31);
