.navbar,
.navbar-reg{
    transition: all .6s;
    backface-visibility: hidden;
    margin: 0 2rem!important;
    background-color: $black-1 !important;

    @include respond(bp-4){
      margin: 0!important;
    }
}

.navbar-reg{
    margin: 0rem!important;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $white-1!important;

    &:hover {
      color: $primary-1 !important;
    }

    &:active {
      color: $primary-1 !important;
    }

    &:focus {
      color: $primary-1 !important;
    }

    &__back-icon{
      height: 4.5rem;
      width: auto;
      transition: all .3s;

      &:hover{
        transform: translateX(-5px);
      }

      @include respond(bp-5){
        height: 3.5rem;
      }

      @include respond(bp-1){
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
      }

      // @include respond(iphone-6/7/8plus){
      //   height: 3.5rem;
      // }

      // @include respond(iphone-6/7/8/10){
      //   height: 3rem;
      // }
    }
    
}

.navbar-heading{
  font-size: 3.5rem;
  color: transparent;
  background-image: linear-gradient(to right, $white, $white-2);
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3rem 0;

  @include respond(bp-5){
    font-size: 2.5rem;
    padding: 1rem 0;
  }

  @include respond(bp-3) {
    font-size: 2rem;
    padding: 1rem 0;
  }

  @include respond(bp-1) {
    font-size: 1.9rem;
    padding: 1.7rem 0 1.5rem 0;
    margin: 1rem;
  }

  @include respond(iphone-6/7/8plus){
    font-size: 1.5rem;
    padding: 1.5rem 0;
    margin: 0rem;
  }

   @include respond(iphone-6/7/8/10) {
     font-size: 1.4rem;
     padding: 1.6rem 0;
   }

   @include respond(galaxy-s5){
     font-size: 1.3rem;
     padding: 1rem 0;
   }

   @include respond(iphone-5se){
     font-size: 1.15rem;
   }
}

.navbar-brand-img{
    width: 8rem;

    @include respond(bp-1) {
      // width: 6rem;
      // display: none;
      // visibility: hidden;
    }
}

.navbar-nav {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link{
  margin-right: 1rem;
  transition: all .3s;
  color: $white-1!important;
  
  &:hover {  
    color: $primary-1;
  }

}

.active {
  color: $primary-1 !important;
}
