.navbar,
.navbar-reg{
    transition: all .6s;
    backface-visibility: hidden;
    margin: 0 2rem!important;
    background-color: $color-white-2!important;
}

.navbar-reg{
    margin: 0rem!important;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-text!important;

    &:hover {
      color: $color-blue-text-1 !important;
    }

    &:active {
      color: $color-blue-text-1 !important;
    }

    &:focus {
      color: $color-blue-text-1 !important;
    }

    &__back-icon{
      height: 4.5rem;
      width: auto;
      transition: all .3s;

      &:hover{
        transform: translateX(-5px);
      }
    }
    
}

.navbar-heading{
  font-size: 3rem;
  color: transparent;
  background-image: linear-gradient(to right, $color-blue-text-2, $color-blue-text-1);
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3rem 0;
}

.navbar-brand-img{
    width: 8rem;
}

.navbar-nav {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link{
  margin-right: 1rem;
  transition: all .3s;
   
  &:hover {
     color: $color-blue-text-1 !important;
     border-bottom: 1px solid $color-blue-light;
   }

   &:active{
     color: $color-blue-text-1!important;
   }

   &:focus {
     color: $color-blue-text-1 !important;
   }

    &:visited {
      color: $color-blue-text-1 !important;
    }
}

.active {
  color: $color-blue-text-1 !important;
}
