.innovation-content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include respond(bp-5){
        flex-direction: column;
    }

    &__procedure{
        margin: 0 3rem;

        @include respond(bp-2){
            margin: 0 1rem;
        }
    }

    &__img{
        margin: 2rem;
        width: 45vw!important;
        border-radius: 0.5rem!important;

        @include respond(bp-5){
           display: none;
           visibility: hidden;
           height: 0;
           width: 0;
        }
    }

    &__btn{

        @include respond(bp-5){
            display: block;
            text-align: center;
        }

        &--modifier{
            font-size: 2.5rem;
            font-weight: 600;
            text-align: center;
            padding: 10px 20px;
            margin-top: 1rem;
            text-transform: uppercase;
            text-decoration: none!important;

            @include respond(bp-8){
                padding: 7px 18px;
            }

            @include respond(bp-7) {
                padding: 7px 17px;
                font-size: 1.8rem;
                margin-top: 1.2rem;
            }

            @include respond(bp-6) {
                margin-top: 1rem;
            }

            @include respond(bp-5) {
                // font-size: 1.8rem;
                margin-top: 1.3rem;
                align-self: center;
            }

            @include respond(bp-3) {
                font-size: 1.7rem;
                padding: 5px 15px;
            }

            @include respond(bp-2){
                font-size: 1.7rem;
            }

            @include respond(bp-1) {
                font-size: 1.4rem;
                padding: 7px 13px;
                
            }
        }
    }
}