.Intro{
    margin-top: 8rem;
    height: 100vh;
    background: transparent;
    

    @include respond(bp-5){
        height: 80vh;

    }

    @include respond(bp-1) {
        height: 70vh;
    }

    // @include respond(bp-1){
    //     height: 75vh;
    // }

    // @include respond(iphone-5se) {
    //     height: 68vh;
    // }


    &__heading-main{

        &__box{
            // width: 73vw;
            // display: flex;
            background: transparent;

            &-content {
                font-family: 'Roboto Mono',
                monospace;
                font-size: 7rem;
                color: $white-1;
                text-align: center;
                font-weight: 500;
                width: 90vw;
                z-index: 20;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include respond(bp-8){
                    font-size: 5.5rem;
                }

                @include respond(bp-7){
                    font-size: 5rem;
                }

                @include respond(bp-5){
                    font-size: 5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                @include respond(bp-4){
                    font-size: 4.3rem;
                }

                @include respond(bp-3) {
                    font-size: 4rem;
                }

                @include respond(bp-2) {
                    font-size: 3rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                @include respond(bp-1) {
                    font-size: 2.7rem;
                }

                @include respond(iphone-6/7/8plus) {
                    font-size: 2.3rem;
                }

                @include respond(iphone-6/7/8/10) {
                    font-size: 2rem;
                }

                @include respond(iphone-5se){
                    font-size: 1.8rem;
                }
            }

        }
    }

}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.70;
    overflow: hidden;
    padding: 0rem 2rem;
    margin-top: 10rem;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;

        @include respond(bp-1){
            height: 70%;
        }
    }

    @include respond(bp-5){
        padding:2rem 2rem 16rem 2rem;
    }

    @include respond(bp-4){
        padding:2rem 2rem 16.5rem 2rem;
    }

    @include respond(bp-1){
        // padding: 0;
        // margin-top: 9.8rem;
        height: 0;
        width: 0;
        display: none;
        visibility: hidden;

    }
}

.bg-img{

     position: absolute;
     top: 0;
     left: 0;
     height: 0%;
     width: 0%;
     overflow: hidden;
     z-index: 10;
     opacity: 0;
     padding: 1rem;
     margin-top: 10rem;
     visibility: hidden;

     @include respond(bp-1){
         height: 100%;
         width: 100%;
         opacity: 0.70;
        visibility: visible;
     }
     
    &__content{
       height: 100%;
       width: 100%;
       object-fit: cover;

       @include respond(bp-1){
           height: 69%;
       }
    }
}