.Intro{
    margin-top: 8rem;
    background: transparent;
    height: 85vh;
    

    @include respond(bp-5){
        margin-top: 7rem;

    }

    @include respond(bp-4){
        height: 89vh;
    }

    @include respond(bp-1){
        height: 74vh;
    }

    @include respond(iphone-5se) {
        height: 69vh;
    }

    // @include respond(bp-3){
    //     height: 70vh;
    // }

    // @include respond(bp-2) {
    //     height: 60vh;
    // }

    // @include respond(bp-1) {
    //     height: 50vh;
    //     margin-top: 2rem;
    // }

    // @include respond(iphone-6/7/8plus) {
    //     height: 40vh;
    // }


    &__heading-main{

        position: relative;
        top: 50%;
        transform: translateY(-25%);

        &__box{
            background: transparent;
            height: 80vh;

            @include respond(bp-2){
                height: 60vh;
            }



            &-content {
                font-family: 'Graduate',
                    cursive;
                font-size: 8rem;
                color: $white-1;
                text-align: center;
                font-weight: 600;

                @include respond(bp-8){
                    font-size: 6rem;
                }

                @include respond(bp-7){
                    font-size: 6rem;
                }

                @include respond(bp-6){
                    font-size: 6rem;
                }

                @include respond(bp-5){
                    font-size: 5rem;
                }

                @include respond(bp-4){
                    font-size: 4.5rem;
                }

                @include respond(bp-2) {
                    font-size: 3.5rem;
                }

                @include respond(bp-1) {
                    font-size: 2.7rem;
                }

                @include respond(iphone-6/7/8/10) {
                    font-size: 2.4rem;
                }
            }

        }
    }

}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 2rem;
    margin-top: 7rem;
    width: 97.5vw!important;
    height: 90vh!important;
    overflow-x: hidden;
    opacity: 0.5;


    @include respond(bp-8){
        width: 96.6vw !important;
        height: 91vh !important;
    }

    @include respond(bp-7){
        width: 96.6vw !important;
        height: 91vh !important;
    }

    @include respond(bp-6) {
        width: 96.2vw !important;
    }

     @include respond(bp-5) {
         width: 95vw !important;
     }

     @include respond(bp-4){
         width: 100vw!important;
         height: 100vh!important;
         margin: 0!important;
     }

     @include respond(bp-1){
         height: 85vh !important;
     }

}
