.Intro{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    margin-top: 8rem;
    background-image: none;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    

    @include respond(bp-5){
        background-image: linear-gradient(to right bottom, $color-white-2-opacity, $color-white-1-opacity),
        url("/assets-original/Intro-img.jpg");
        -webkit-background-image: linear-gradient(to right bottom, $color-white-2-opacity, $color-white-1-opacity),
        url("/assets-original/Intro-img.jpg");
        -moz-background-image: linear-gradient(to right bottom, $color-white-2-opacity, $color-white-1-opacity),
        url("/assets-original/Intro-img.jpg");
        -o-background-image:linear-gradient(to right bottom, $color-white-2-opacity, $color-white-1-opacity),
        url("/assets-original/Intro-img.jpg");
        background-size: contain;
        background-attachment: fixed;
        margin-top: 7rem;

        .Intro::before{
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background: linear-gradient(to right bottom, $color-white-2-opacity, $color-white-1-opacity),
            url("/assets-original/Intro-img.jpg") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }

    @include respond(bp-3){
        height: 70vh;
    }

    @include respond(bp-2) {
        height: 60vh;
    }

    @include respond(bp-1) {
        height: 50vh;
        margin-top: 2rem;
    }

    @include respond(iphone-6/7/8plus) {
        height: 40vh;
        // margin-top: 9.5rem;
    }


    &__heading-main{
        width: 100%;
        height: 40vh;

        &__box{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            height: 40vh;

            &-content {
                font-family: 'Graduate',
                    cursive;
                font-size: 7rem;
                color: $color-blue-text-2;
                text-align: center;

                @include respond(bp-8){
                    font-size: 5rem;
                }

                @include respond(bp-7){
                    font-size: 5rem;
                }

                @include respond(bp-6){
                    font-size: 4.5rem;
                }

                @include respond(bp-5){
                    font-size: 6rem;
                    font-weight: 600;
                    color: $color-blue-text-2
                }

                @include respond(bp-4){
                    font-weight: 600;
                    font-size: 5rem;
                }

                @include respond(bp-2) {
                    font-weight: 500;
                    font-size: 5rem;
                }

                @include respond(bp-1) {
                    font-weight: 500;
                    font-size: 4rem;
                }

                @include respond(iphone-6/7/8/10) {
                    font-size: 3rem;
                }
            }

        }
    }

    &__image-box{

        &__img{
            width: 50vw;
            margin: 1rem;

            @include respond(bp-5){
                display: none;
                visibility: hidden;
            }
        }
    }

}
