.magzine-main {
    &__sub {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        @include respond(bp-5){
            flex-direction: column-reverse;
        }
       
        &__cover-page {

            margin: 3rem 3rem 3rem 0rem;

            @include respond(bp-5){
                margin: 3rem 0rem;
            }

            @include respond(iphone-6/7/8plus){
                margin: 1rem;
            }

            @include respond(pixel-2/2xl){
                margin: 1rem;
            }

            @include respond(iphone-6/7/8/10){
                margin: 0rem;
            }

            &--modifier{
                border-radius: 0.3rem;
                -webkit-border-radius: 0.3rem;
                -moz-border-radius: 0.3rem;
                -ms-border-radius: 0.3rem;
                -o-border-radius: 0.3rem;
                height: 75rem;

                @include respond(bp-8){
                    height: 55rem;
                }

                @include respond(bp-7){
                    height: 45rem;
                }

                @include respond(iphone-6/7/8plus){
                    height: 40rem;
                }

                @include respond(iphone-6/7/8/10){
                    height: 35rem;
                }

                @include respond(galaxy-s5){
                    height: 30rem;
                }
            }

        }

        &__details {
            margin: 3.5rem;
            flex-basis: 60%;

            @include respond(bp-5){
                justify-content: center;
            }
            
            @include respond(bp-1){
                margin: 0.8rem;
            }

            @include respond(iphone-5se){
                margin: 1rem;
            }

            &__btn{
                @include respond(bp-5){
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
            }

            // @include respond(bp-5){
            //     visibility: hidden;
            //     display: none;
            // }
        }
    }
}