.past-memories-img{
    padding: 0 32rem;
    border-radius: 0.5rem!important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 60%, 60%;
    border-radius: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.carousel-indicators .active {
    background-color: #1D75FC;
}
